<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<h2>Su Carro Telecompras</h2>
<ul>
    <% @cart.line_items.each do |item| %>
        <li><%= item.quantity %>&times:<%= item.product.title %></li>
        
    <% end %>
</ul>



